{% extends 'base.html.twig' %}

{% block body %}
    <div id="viewprojectbyartist">
        <b-container class="bv-example-row">
            <b-row>
                <b-col>
                    <b-img src="{{ asset('/rzik/'~logoband) }}" fluid alt="Responsive image"></b-img>
                </b-col>
            </b-row>
            <p></p>
            <div class="w-100"></div>
            <b-row>
                <b-col>
                    <h2>{{ projectByArtist.plprojectname }}</h2>
                    by
                    <b-link href="{{ path('artistband_profile', { 'id' : projectByArtist.artistbandplproject.id}) }}">{{ projectByArtist.artistbandplproject.artistbandname }}</b-link>

                </b-col>

                <b-col>
                    <b-img src="{{ asset('/rzik/'~projectByArtist.mainpictureplproject.picturefile) }}?image=41" fluid
                           alt="Responsive image"></b-img>
                </b-col>
                </b-col>
            </b-row>
        </b-container>
    </div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('build/projectbyartist.js') }}"></script>
    {% endblock %}
