{% extends 'base.html.twig' %}

{% block title %}Hello ArtistBandController!{% endblock %}

{% block body %}

    <div id="artistbandprofile">

        <h1>{{ firstname }} {{ lastname }} ✅</h1>
        <hr>
        {% for projects in artistprojects %}
            your band : {{ projects.artistbandname }}
            <br>

            {% for imgprojects in projects.artistbandpicture %}
                <a href="{{ path('artistaband_project', {'id': projects.id}) }}"><img
                            src="{{ asset('/rzik/'~imgprojects.picturefile) }}" title="my image" alt="My image"></a>
                <br>
            {% endfor %}
        {% endfor %}
        <hr>
        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a
                            href="{{ '/home/xnguyen/Public/rzik2019v3/symfony/src/Controller/ArtistBandController.php'|file_link(0) }}">src/Controller/ArtistBandController.php</a></code>
            </li>
            <li>Your template at <code><a
                            href="{{ '/home/xnguyen/Public/rzik2019v3/symfony/templates/artist_band/index.html.twig'|file_link(0) }}">templates/artist_band/index.html.twig</a></code>
            </li>
        </ul>
    </div>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('build/artistbandprofile.js') }}"></script>
    {% endblock %}

