<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Audio experience{% endblock %}| Rzik!</title>
    <link href="{{ asset('build/app.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.0.0-rc.1/dist/bootstrap-vue.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    {#        <script src="https://unpkg.com/bootstrap-vue@2.0.0-rc.1/dist/bootstrap-vue.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>#}

    {% block stylesheets %}{% endblock %}
</head>
<body>
<div id="base">
    {% block menu %}
        <div>
            <b-navbar toggleable="lg" type="dark" variant="info">
                <b-navbar-brand href="/">RZIK</b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav>
                        <b-nav-item href="#">Link</b-nav-item>
                        <b-nav-item href="#" disabled>Disabled</b-nav-item>
                    </b-navbar-nav>

                    <!-- Right aligned nav items -->
                    <b-navbar-nav class="ml-auto">
                        <b-nav-form>
                            <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                        </b-nav-form>

                        <b-nav-item-dropdown text="Lang" right>
                            <b-dropdown-item href="#">EN</b-dropdown-item>
                            <b-dropdown-item href="#">ES</b-dropdown-item>
                            <b-dropdown-item href="#">RU</b-dropdown-item>
                            <b-dropdown-item href="#">FA</b-dropdown-item>
                        </b-nav-item-dropdown>

                        <b-nav-item-dropdown right>
                            <!-- Using 'button-content' slot -->
                            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <template slot="button-content"><em>Connexion</em></template>
                                <b-dropdown-item href="{{ path('app_login') }}">Login</b-dropdown-item>
                                <b-dropdown-item href="{{ path('app_register') }}">Register</b-dropdown-item>
                            {% else %}
                                <template slot="button-content"><em>User</em></template>
                                <b-dropdown-item href="{{ path('rzik_edit_profile') }}">Profile</b-dropdown-item>
                                <b-dropdown-item href="{{ path('app_logout') }}">Log Out</b-dropdown-item>

                                {% if is_granted('ROLE_ARTIST') %}
                                    <b-dropdown-item href="{{ path('artist_new_project') }}">Create a new project for
                                    </b-dropdown-item>
                                {% endif %}
                            {% endif %}

                        </b-nav-item-dropdown>
                    </b-navbar-nav>
                </b-collapse>
            </b-navbar>
        </div>




        {#    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div>
                    <a  href="{{ path('app_register') }}">Register</a>
                    <a href="{{ path('app_artistband_register') }}">Register Band</a>
                </div>
                <div>
                    <a  href="{{ path('app_login') }}">Login</a>
                </div>
                {% else %}
                <a href="{{ path('rzik_edit_profile') }}">Settings</a>
            {% endif %}
            {% if is_granted('ROLE_ARTIST') %}
                <a href="{{ path('artist_new_project') }}">Create a new project for </a>
            {% endif %}#}

    {% endblock %}
</div>
{% block body %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
    <script src="{{ asset('build/bootstrap-vue.js') }}"></script>
{% endblock %}

</body>
</html>
